
body{
  margin:0;
  padding:0;
  font-family: Raleway;
  background-color: #f1f1f1;
  font-size:20px;


}
h1{
  background-color: Gainsboro;
  padding-left: 5%;
  font-size: 40px;
}


.topnav {
  background-color: white;

   /* the parent must have 100% either */
   margin-top: -33px;
   margin-left: -1.45%;
   margin-right: -1.4%;
  overflow: hidden;
  /* hides overflow */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  margin: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: inherit;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgray;
}

/* Add a color to the active/current link */
.topnav a.home {
  background-color: RoyalBlue;
  padding-left: 30px;
  color: black;
}

.topnav a.active {
  background-color: LightSteelBlue;
  padding-left: 30px;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn:hover{
  background-color: lightgray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content{

  display:block;
}







footer p{
  width:95%;
  background: rgba(255, 255, 255, 0.9);
  float:left;
  text-decoration:none;
  color:black;
  padding-left:5%;
  white-space: normal;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.topnav a.active {
  background-color: LightSteelBlue;

}

footer a{

  color:CornFlowerBlue;
  white-space: normal;
}

@media (max-width: 1200px) {

}

@media (max-width: 800px) {


}


@media (max-width: 600px) {
  body: {
    all:unset;
  }
  #logout{
    margin-left:0%;
  }
  #home{
    padding-left: 0%;
    margin-left:0%;
  }
  .topnav{

  }
  .nav_ref{

    width:100%;
    padding: 0px;
    text-align:center;
    padding-top:10px;
    padding-bottom:5px;

  }
  .dropdown .dropbtn {
    padding-top:10px;
    padding-bottom:5px;


    margin-left:0%;/* Important for vertical align on mobile phones */
  }
  .dropdown{


    width:100%;
    text-align:center;

  }
  .dropdown:hover .dropdown-content{

    display:block;

  }
  .dropdown-content {
    all:unset;

    display:none;
    margin-top:0px;
    width:100%;



  }
  .dropdown-content a {
    padding-top:10px;
    padding-bottom:5px;
    border: unset;
    text-align:center;
  }
  #logo{
    display:none;
  }

}
