#header {
  background-color: Gainsboro;
  background-size: 100% 100%;
  margin-top: -10px;
  padding-left: 5%;
  margin-left: -2%;
  margin-right: -.7%;




}
h1{
  font-size: 40px;
}


.topnav {
  background-color: white;

   /* the parent must have 100% either */
   margin-top: -33px;
   margin-left: -1.45%;
   margin-right: -1.4%;
  overflow: hidden;
  /* hides overflow */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  margin: 0px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: inherit;
  font-size: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: lightgray;
}

/* Add a color to the active/current link */
.topnav a.home {
  background-color: RoyalBlue;
  padding-left: 30px;
  color: black;
}

.topnav a.active {
  background-color: LightSteelBlue;
  padding-left: 30px;
  color: black;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn:hover{
  background-color: lightgray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content{

  display:block;
}

footer{
  background: rgba(255, 255, 255, 0.9);
  float:right;
  width:104%;
  height:relative;
  margin-top:15px;
  margin-right:-10px;
  bottom: 0;
  position: relative;


}
footer h3{
  margin-left:4%;
  text-decoration:none;
  color:black;
  white-space: normal;
}
footer p{
  float:left;
  margin-top:-16px;
  margin-left:5%;
  margin-right:5px;
  text-decoration:none;
  color:black;
  white-space: normal;
}


footer a{
  float:left;
  margin-top:-16px;
  color:CornFlowerBlue;
  white-space: normal;
}
