body{
  background-image: url("../photos/paris.png");
  background-size: 100% 100%;
	background-attachment:fixed;
  size: 300px;
}

#txt, #demo, #demo2, #link{
  color: white;
}
#divvy{
  border-radius:25px;
  text-decoration: none;
  background-color: orange;
  width:200px;
  color:white;
  padding-left:10px;
  padding-bottom:10px;
}


#first p{

  margin: 10px;
  border: 1px solid black;

  width: 40%;
  height: 5%;
  padding: 50px 0px;
  display: inline-block;
  overflow: hidden;

}

#blue{
  background-color: blue;
}

#red{
  background-color: red;
}


#sec p{

  margin: 10px;
  border: 1px solid black;

  width: 40%;
  height: 5%;
  padding: 50px 0px;
  display: inline-block;
  overflow: hidden;

}

#yellow{
  background-color:  Gold;
}

#green{
  background-color: green;
}


#code{
  padding:10px;
  border-radius:50px;
  background-color: MediumPurple;
  width:200px;
}
